<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="menu">
            <ion-icon name="md-menu"></ion-icon>
            <ion-label>Menu</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="people">
            <ion-icon name="md-people"></ion-icon>
            <ion-label>Personal</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="proyects">
            <ion-icon name="md-clipboard"></ion-icon>
            <ion-label>Proyecto</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="modify">
            <ion-icon name="md-build"></ion-icon>
            <ion-label>Modificar</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>